# Copyright (c) 2017, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

#
# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
socket            = /var/run/mysqld/mysqld.sock
secure-file-priv  = NULL
pid-file          = /var/run/mysqld/mysqld.pid

datadir           = /var/lib/mysql/data

default_authentication_plugin = mysql_native_password
max_connections = 30
explicit_defaults_for_timestamp = 1
innodb_status_output = 0
innodb_status_output_locks = 0
general_log = 1
log_queries_not_using_indexes = 1
log_slow_admin_statements = 1
log_syslog = 0
log_timestamps = SYSTEM
long_query_time = 3
slow_query_log = 1

character_set_server = utf8
collation_server = utf8_general_ci

!includedir /etc/mysql/conf.d/

[client]
default-character-set = utf8
